* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    /* overflow-x: hidden; */

}


.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
   
}

.logo img {

    height: 85px;
    margin-left: 30px;
}

.sign-in-button {
    background-color: rgb(230, 18, 18);
    color: rgb(227, 227, 227);
    border: none;
    padding: 5px 20px;
    margin-right: 50px;
    border-radius: 5px;
    font-size: 16px;
   
}

.sign-in-button:hover {
    background-color: #bd2020;
    cursor: pointer;
}

hr{
    opacity: 0.5;
    margin-top: -10px;
}
.page4 p{
    margin-top: 40px;
    font-size: 15px;
    text-align: inherit;
    
}
.page4 h1{
    margin-top: -10px;
    font-size: 32px;
    display: inline-block;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 40px;
}




/* ---card--- */

.card{
    flex: 1 1 auto;
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 18px;
    position: relative;
    transition: margin 250ms ease-in-out 0s, box-shadow 250ms ease-in-out 0s, border-color 250ms ease-in-out 0s;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px, rgba(0, 0, 0, 0.1) 0px 0px 2px 0px, rgba(128, 128, 128, 0.7) 0px 0px 0px 1px;

}
.card-title{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    margin: 8px;
    min-height: 120px;
    padding: 12px 20px;
}
.div-ul{
    cursor: pointer;
}
.card-ul{
    box-sizing: border-box;
    padding: 0px 25px;
    width: 100%;
}
.card-li{
    padding: 12.5px 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.tick-content{
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.text{
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: rgb(118, 118, 118);
    white-space: normal;
}
.alt{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
}

.tick{
    color: #737373;
    -webkit-box-flex: 0;
    flex-grow: 0;
    display: flex;
    transition: color 0.25s ease-in-out 0s;
    padding-right: 13px;
}

.alt1{
    margin-bottom: 23px;
}
.li-last{
    border: none;
}
.t1{
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(229, 9, 20) 0%, rgba(119, 84, 200, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
}
.t2{
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(185, 220, 56) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
}
.t3{
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(59, 227, 101) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
}
.t4{
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(33, 114, 227) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);

}
.scale{
    transform: scale(1.05);
}
.activeColor{
    color: #ef1010;
}
.activeColor2{
    color: #2079bd;
}
.activeColor3{
    color: #bd20ab;
}
.activeColor4{
    color: #2020bd;
}
.next{
    background-color: rgb(230, 18, 18);
    color: rgb(227, 227, 227);
    border: none;
    text-align: center;
    padding:8px 123px;
    margin-left: 35%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    height: 50px;
}
.footer{
    background-color:  #cdc6c66c;
    color: #4e4e4ebb;
    
}
.list-unstyled li{
    margin-top: 10px;
}
.list-unstyled a{
    color: #4e4e4ebb;
}
.netflix-footer{
    margin-top: 40px;
    /* padding-bottom: 10%; */
}
.row h5{
    margin-bottom: 20px;

}